* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: black;
    background-color: #FEFEF1;
    margin: 50px;
}

img {
    max-width: 75%;
    height: auto;
    width: auto;
}

a {
    color: #06C258;
    text-decoration: none;
}

a:hover {
    color: #40E0D0;
    text-decoration: underline;
}

.icone {
    width: 10%;
    heigh: 10%;    
}

footer {
    color: darkblue;
}
h1 {
    font-size: 100px;
}

p {
    color: #5B5859;
    text-allign: center;
    font-size: 1.5em;
} 

h2 {
    font-size: 4.5rem;
}
h2:hover {
    text-decoration: underline;
}
