* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: black;
    background-color: white;
}

img {
    max-width: 75%;
    height: auto;
    width: auto;
}

a {
    color: #06c258;
    text-decoration: none;
}

a:hover {
    color: #40E0D0;
}
.icone {
    width: 70px;
    heigh: 70px;    
}
